body, html{
   padding: 0;
   margin: 0;
   min-height: 100vh;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   line-height: 1.4;
}

.container{
   background-color: #23424A;
   color: white;
}

div:has( > h1){
   width: 70%;
   min-height: 100vh;
   padding: 4.5em;
}

div:has( > h1) > :is(h1, p, a){
   margin: 0;
}

div:has( > h1) > a{
   text-decoration: none;
   color: #23424A;
   background-color: #38CFD9;
}

div:has( > h1) > h1{
   font-size: 3rem;
   line-height: 1.2;
   margin-bottom: .5em;
}

h1 + p,
h1 ~ a{
   font-size: 1.3125rem;
}

div:has( > h1) > h1 + p{
   margin-bottom: 3em;
}

h1 ~ a {
   padding: 0.5625em 2em;
   display: inline-block;
   font-weight: bold;
   border-radius: 20% / 80%;
}