*, 
*::before,
*::after{
   box-sizing: border-box;
}

body, html{
   padding: 0;
   margin: 0;
   min-height: 100vh;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   line-height: 1.4;
}

.container{
   background-color: #23424A;
   color: white;
   padding: 4.5em 0;
}

div:has( > h1){
   width: 70%;
   max-width: 50rem;
   min-height: 100vh;
   margin: 0 auto;
   
}

div:has( > h1) > :is(h1, p, a){
   margin: 0;   
}

div:has( > h1) > :is(h1, p){
   width: 70%;
}

div:has( > h1) > a{
   text-decoration: none;
   color: #23424A;
   background-color: #38CFD9;
}

div:has( > h1) > h1{
   font-size: 3rem;
   line-height: 1.2;
   margin-bottom: .5em;
}

h1 + p,
h1 ~ a{
   font-size: 1.3125rem;
}

div:has( > h1) > h1 + p{
   margin-bottom: 3em;
}

h1 ~ a {
   padding: 0.5625em 2em;
   text-transform: uppercase;
   display: inline-block;
   font-weight: bold;
   border-radius: 15% / 80%;
}

@media screen and (max-width: 25em){
   html{
      font-size: 67%;
   }
}

@media screen and (min-width: 100em){
   html{
      font-size: 150%;
   }
}