*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, html{
   height: 100%;
}

body{
   background-color: #666666;

   display: flex;
   justify-content: center;
   align-items: center;
}

ul{
   list-style: none;
}

li{
   margin-bottom: 1em;

   font-size: 1.25rem;
}

a{
   display: inline-block;
   
   padding: .5em;
   border-radius: 1em;
   background-color: #CCCCCC;
   
   color: #666666;
   text-decoration: none;
   line-height: 1;
}

li:last-child{
   animation-name: clickMe;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

li:last-child:hover{
   animation-name: none;
}

@keyframes clickMe{
   0%{
      position: relative;
      top: 0;
      filter: brightness(1);
   }

   50%{
      filter: brightness(.75);
   }

   100%{
      position: relative;
      top: .5em;
      filter: brightness(1);
   }
}