.core{
   padding-block: var(--section-padding-block);
}

.core__main{
   margin-bottom: calc(var(--fs-1) * 1.5)
}

.core__main h2{
   margin-bottom: 1em;

   color: var(--color-beige-400);
   font-size: var(--fs-4);
   line-height: 1.1;
}

.core__main > p{
   font-weight: var(--fw-regular);
}

.core__main img{
   display: block;

   max-width: 100%;
   margin-block: var(--fs-1);
   margin-inline: auto;
}

.core__cards article{
   padding: var(--fs-3);
   margin-bottom: var(--fs-1);
   background-color: var(--color-blue-300);

   color: var(--color-white-100);
   text-align: center;
}

.core__cards article:last-child{
   margin-bottom: unset;
}

.core__cards article h3{
   margin-bottom: .75em;

   font-size: var(--fs-3);
   line-height: 1.1;
}

.core__cards article p{
   font-weight: var(--fw-regular);
}

/*Breakpoints*/
/*720px and beyond*/
@media (min-width: 45em){
   .core__main img{
      width: 100%;
   }

   .core__cards{
      display: flex;
      gap: 2vw;
   }

   .core__cards article{
      padding: var(--fs-2) var(--fs-1);
      margin-bottom: 0;
   }
}

/*1040px and beyond*/
@media (min-width: 65em){
   .core .container{
      display: flex;
      align-items: flex-start;
      gap: 10%;
   }

   .core__cards{
      flex-direction: column;
      gap: var(--fs-1);
   }

}