.header{
   position: relative;

   background-color: var(--color-blue-400);

   font-size: var(--fs-1);
   color: var(--color-white-100);
}

.header::after{
   content: '';

   position: absolute;
   inset: 0;

   background-color: var(--color-blue-400);
}

.header__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-block: .5em;
}

.header__wrapper > a{
   z-index: 1;

   font-size: var(--fs-3);
}

input[type="checkbox"]{
   display: none;
}

.header__wrapper__burger{
   position: relative;
   z-index: 1;

   width: 10%;
   aspect-ratio: 1;

   transform-origin: 50%;

   cursor: pointer;

   animation-name: lineShrinkingReverse;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards; 
}

input[type="checkbox"]:checked ~ .header__wrapper__burger{
   animation-name: lineShrinking;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards; 
}

@keyframes lineShrinking{
   30%{
      transform: scaleX(1);
   }
   60%{
      transform: scaleX(.1);
   }
   61%{
      transform: scale(.1)
   }
   60%{
      transform: scale(.1)
   }
   100%{
      transform: scale(.75)
   }
}

@keyframes lineShrinkingReverse{
   0%{
      transform: scale(.75)
   }

   40%{
      transform: scale(.1)
   }

   41%{
      transform: scale(.1)
   }

   71%{
      transform: scale(1)
   }

   100%{
      transform: scale(1)
   }
}

.burger__line{
   position: absolute;
   left: 10%;
	 /*left 50% - half the width */

   width: 80%;
   height: calc(var(--fs-1) / 6);
   background-color: var(--color-white-100);

   transition: opacity .5s ease-in-out;
   transform-origin: 0;

   animation-name: lineShrinkingReverse;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}

.burger__line:nth-child(1){
   --top: 15%;
   top: var(--top);
   --rotation: 45deg;
}

.burger__line:nth-child(2){
   --top: 50%;
   top: var(--top);
}

.burger__line:nth-child(3){
   --top: 85%;
   top: var(--top);
   --rotation: -45deg;
}

.burger__line:nth-child(1),
.burger__line:nth-child(3){
   animation-name: lineMovementReverse;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}

input[type="checkbox"]:checked ~ .header__wrapper__burger .burger__line:nth-child(2){
   opacity: 0;
}

input[type="checkbox"]:checked ~ .header__wrapper__burger .burger__line:nth-child(1),
input[type="checkbox"]:checked ~ .header__wrapper__burger .burger__line:nth-child(3){
   animation-name: lineMovement;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}

@keyframes lineMovement{
   30%{
      top: 50%;
      transform: rotate(0deg);
   }
   60%{
      transform: rotate(0deg);
   }
   61%{
      transform: rotateZ(var(--rotation)) scaleX(1.25);
   }
   100%{
      transform: rotateZ(var(--rotation)) scaleX(1.25);
   }
}

@keyframes lineMovementReverse{
   0%{
      transform: rotateZ(var(--rotation)) scaleX(1.25);
   }
   40%{
      transform: rotateZ(var(--rotation)) scaleX(1.25);
   }
   41%{
      transform: rotate(0deg);
   }
   71%{      
      top: 50%;
   }
   100%{
      top: var(--top);
   }
}

.header__wrapper nav{
   position: absolute;
   top: 0;
   right: 0;
   transform: translateY(-100%);

   min-width: 35%;
   background-color: var(--color-blue-400);

   transition: top .75s ease-in,
               transform .75s ease-in;
}

input[type="checkbox"]:checked ~ nav{
   top: 100%;
   transform: translateY(0);
}

.header__wrapper nav ul{
   padding: 0 1.5em 1em;

   text-align: center;
   text-transform: uppercase;
}

.header__wrapper nav ul li{
   margin-bottom: .5em;
}

/*
   Create hover
*/

/*Breakpoints*/
/*720px and beyond*/
@media (min-width: 45em){
   .header__wrapper__burger{
      display: none;
   }

   .header__wrapper nav{
      position: static;
      top: unset;
      right: unset;
      transform: none;
      z-index: 1;
      
      min-width: unset;
      background-color: unset;

      transition: none;
   }

   .header__wrapper nav ul{
      display: flex;
      align-items: center;
      gap: 2.5em;

      padding: 0;
      
      text-align: unset;
   }

   .header__wrapper nav ul li{
      margin-bottom: 0;
   }
}