/*Variables*/
:root{
   --color-blue-400: #2E323F;
   --color-blue-300: #3B4050;
   --color-blue-200: #6F737F;
   --color-beige-400: #A59678;
   --color-white-100: #DDDDDD;

   --ff-main: 'Oswald', sans-serif;

   --fw-bold: 700;
   --fw-regular: 400;

   --fs-1: clamp(0.88rem, calc(0.80rem + 0.37vw), 1.38rem); /*18px*/
   --fs-2: clamp(1.09rem, calc(0.99rem + 0.54vw), 1.83rem); /*21px*/
   --fs-3: clamp(1.37rem, calc(1.21rem + 0.79vw), 2.44rem); /*24px*/
   --fs-4: clamp(1.71rem, calc(1.48rem + 1.14vw), 3.26rem); /*30px*/
   --fs-5: clamp(2.14rem, calc(1.81rem + 1.62vw), 4.34rem); /*36px*/
   --fs-6: clamp(2.67rem, calc(2.21rem + 2.29vw), 5.79rem); /*90px*/
}

/*General styling*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: var(--ff-main);
   font-weight: var(--fw-bold);
   font-size: var(--fs-1);
   line-height: 1.5;
}

ul{
   list-style: none;
}

a{
   color: inherit;
   text-decoration: none;
}

.container{
   width: 85%;
   max-width: 75rem;
   margin-inline: auto;
}

/*Header*/
.header{
   position: relative;

   background-color: var(--color-blue-400);

   font-size: var(--fs-2);
   color: var(--color-white-100);
}

.header::after{
   content: '';

   position: absolute;
   inset: 0;

   background-color: var(--color-blue-400);
}

.header__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-block: .5em;
}

.header__wrapper > a{
   z-index: 1;

   font-size: var(--fs-3);
}

input[type="checkbox"]{
   display: none;
}

.header__wrapper__burger{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   z-index: 1;

   width: 10%;
   aspect-ratio: 1;
}

.burger__line{
   width: 80%;
   height: calc(var(--fs-1) / 6);
   margin-inline: auto;
   background-color: var(--color-white-100);
}

.header__wrapper nav{
   position: absolute;
   top: unset;
   top: 0;
   right: 0;
   transform: translateY(-100%);

   background-color: var(--color-blue-400);

   transition: top .75s steps(6),
               transform .75s steps(6);
}

input[type="checkbox"]:checked ~ nav{
   top: 100%;
   transform: translateY(0);
}

.header__wrapper nav ul{
   padding: 0 1.5em 1em;

   text-align: center;
}

.header__wrapper nav ul li{
   margin-bottom: .5em;
}



@media (min-width: 45em){
   .header__wrapper nav ul{
      display: flex;
      gap: 2.5em;
   }
}