/*Variables*/
:root{
   --color-blue-400: #2E323F;
   --color-blue-300: #3B4050;
   --color-blue-200: #6F737F;
   --color-beige-400: #A59678;
   --color-white-100: #DDDDDD;

   --ff-main: 'Oswald', sans-serif;

   --fw-bold: 700;
   --fw-regular: 400;

   --fs-1: clamp(0.88rem, calc(0.80rem + 0.37vw), 1.38rem); /*18px*/
   --fs-2: clamp(1.09rem, calc(0.99rem + 0.54vw), 1.83rem); /*21px*/
   --fs-3: clamp(1.37rem, calc(1.21rem + 0.79vw), 2.44rem); /*24px*/
   --fs-4: clamp(1.71rem, calc(1.48rem + 1.14vw), 3.26rem); /*30px*/
   --fs-5: clamp(2.14rem, calc(1.81rem + 1.62vw), 4.34rem); /*36px*/
   --fs-6: clamp(2.67rem, calc(2.21rem + 2.29vw), 5.79rem); /*90px*/

   --section-padding-block: 10vh;
}

/*General styling*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: var(--ff-main);
   font-weight: var(--fw-bold);
   font-size: var(--fs-1);
   line-height: 1.5;
}

ul{
   list-style: none;
}

a{
   color: inherit;
   text-decoration: none;
}

/*Utility classes*/
.container{
   width: 85%;
   max-width: 75rem;
   margin-inline: auto;
}

.button{
   display: inline-block;
   /*This is necessary because inline elements do not grow with padding*/
   
   padding: 0.375em 1.375em;
   background-color: var(--color-beige-400);

   color: var(--color-white-100);
   line-height: 1;
   
   border-radius: 2em;
}


/*Three Principles*/
.three-principles{
   padding-block: var(--section-padding-block);
   background-color: var(--color-white-100);
}

.three-principles article{
   margin-bottom: var(--fs-3);

   text-align: center;
}

.three-principles article:last-child{
   margin-bottom: unset;
}

.three-principles h2{
   margin-bottom: .5em;

   color: var(--color-beige-400);
   font-size: var(--fs-3);
}

.three-principles p{
   font-weight: var(--fw-regular);
   font-size: var(--fs-1);
}

/*CORE*/
.core{
   padding-block: var(--section-padding-block);
}

.core__main{
   margin-bottom: calc(var(--fs-1) * 1.5)
}

.core__main h2{
   margin-bottom: 1em;

   color: var(--color-beige-400);
   font-size: var(--fs-4);
   line-height: 1.1;
}

.core__main > p{
   font-weight: var(--fw-regular);
}

.core__main img{
   max-width: 100%;
   margin-block: var(--fs-1);
}

.core__cards article{
   padding: var(--fs-3);
   margin-bottom: var(--fs-1);
   background-color: var(--color-blue-300);

   color: var(--color-white-100);
   text-align: center;
}

.core__cards article:last-child{
   margin-bottom: unset;
}

.core__cards article h3{
   margin-bottom: .75em;

   font-size: var(--fs-3);
   line-height: 1.1;
}

.core__cards article p{
   font-weight: var(--fw-regular);
}

/*Breakpoints*/
/*720px and beyond*/
@media (min-width: 45em){
   /*variables*/
   :root{
      --section-padding-block: 15vh;
   }

   /*Three Principles*/
   .three-principles > .container{
      display: flex;
      justify-content: space-between;
   }

   .three-principles article{
      width: 25%;
      margin-bottom: unset;
   }

}